<%- include("header")  -%>

    <h1>Successfulllyy Uploaded File !!!</h1>
    <br><br>
    <h2>Click on the button below to Delete the File in S3 Bucket</h2>
    <form action="/delete" method="post" enctype="multipart/form-data">
        
        <button type="submit"> DELETE??? </button>
    </form>


<%- include("footer")  -%>
